<%= stylesheet_link_tag 'users', :media => "all" %>

<h1>マイページ</h1>

<div class="field">
  <p>名前 : <%= @user.name %></p>
  <p>メールアドレス : <%= @user.email %></p>
  <p>プロフィール : <%= @user.profile %></p>
</div>

<% if current_user.id == @user.id %>
<div class="field">
  <%= link_to "編集する", edit_user_registration_path %>
</div> 
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
<div class="field">
  <%= t.user.name %>
  <%= t.place %>
</div>
<% end %>

<div class="field">
  <%= link_to "投稿一覧に戻る", posts_path %>
</div>